<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body, p
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

body { padding: 75px 56px; }

h1, h2, h3, h4, h5
{
	color: #c4970a;
	font-weight: bold;
}

h1{padding-top:16px;}


td.information
{
	padding: 0px 18px 18px 18px;
	border-style: solid;
	border-width: 1px;
	border-color: #efe5b5;
	background-color: #fdfbf2;
}

td.cricos
{
	padding-top: 10px;
	text-align: center;
	font-size: 10px;
	color: #999999;
}
</style>
</head>

<body>
<table>
	<tr >
		<td class="information">
        <table>
			<tr>
			<td><img src="/images/urdms_assets/tick2.gif" align="left" alt="" /></td>
			<td valign="middle"><h1>@Model.Subject</h1></td>
			</tr>
		</table>
<p>
Contract and confidentiality check on the dataset/collection <em>@Model.DataCollectionTitle</em> for the project <em>@Model.ProjectTitle</em> has been completed.
The dataset/collection is pending final release to the public.
Please login to <a href="@Model.WebsiteUrl">@Model.Website</a> to view and publish the dataset/collection record(s).
</p>

<p>ORD approval by: @Model.ApproverName (@Model.ApproverId)</p>
</td>
	</tr>
	<tr>
		<td class="cricos">CRICOS Provider Code ...</td>
	</tr>
</table>
</body>
</html>