@model Urdms.Dmp.Models.DataManagementPlanInfoViewModel
@{
    Helper.FlowFormCssAndJs(this);
}
@helper ConfirmationInstructions()
    {
    <span style="font-style: normal;">Click the Update button below to create a new PDF
        copy of the Data Management Plan. The PDF file will be saved in the admin section
        of the Project Storage Space. Please visit the Project Storage Space to
        access the PDF.</span>
}
@using (var f = Html.BeginFlowForm())
{
    @Html.HiddenFor(m => m.ProjectId)
    @Html.HiddenFor(m => m.DataManagementPlanId)
    @Html.HiddenFor(m => m.ProjectTitle)

    @f.Steps(ViewBag.Steps, 6, 6, true, true)
    @f.Header("Data Management Review")
    <h2>Data Management Plan for: <strong>@Model.ProjectTitle</strong></h2>
    using (var s = f.BeginSection("Update", "republish"))
    {
    <label>@ConfirmationInstructions()</label>
    }

    using (var n = f.BeginNavigation())
    {
    @n.Submit("Previous", name: "Previous", id: "Previous")
    @n.Submit("Update", name: "Republish", id: "Republish")
    }

    @f.Footer(area: "", id: "XXXXX", date: "2011-08-16")
}